#create-container {
  margin: 6rem auto;
  width: 1300px;
  display: flex;
}

#create-form {
  padding: 4rem;
  border-radius: 1rem;
  background-color: #9bc2c6;
}

.form-title {
  font-family: 'Ultra', serif;
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

#create-submit {
  height: 3rem;
}

.card-selection-title {
  color: #333;
  width: 5rem;
}

#create-left {
  width: 50%;
}

#create-right {
  width: 50%;
  position: relative;
}

.class-image-logo {
  position: absolute;
  width: 10rem;
  right: 3rem;
  top: 2rem;
}