#create-container {
  margin: 6rem auto;
  width: 1300px;
  display: flex;
}

#create-form {
  padding: 4rem;
  border-radius: 1rem;
  background-color: #9bc2c6;
}

.form-title {
  font-family: 'Ultra', serif;
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

#create-submit {
  height: 3rem;
}

.card-selection-title {
  color: #333;
  width: 5rem;
}

#create-left {
  width: 50%;
}

#create-right {
  width: 50%;
  position: relative;
}

.image-logo {
  position: absolute;
  width: 10rem;
  right: 3.5rem;
  top: 2.5rem;
  filter: drop-shadow(0 0 6px rgb(115, 115, 115));
}

#create-right h3 {
  position: absolute;
  width: 25rem;
  left: 4.5rem;
  bottom: 3.5rem;
  font-size: 250%;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #9a3b3b;
  border: 2px solid #9a3b3b;
  border-radius: 1rem 2rem;
  background-color: rgb(220, 220, 220);
}
