.brand-logo {
  width: 5rem;
  margin-right: 8px;
}

@media screen and (max-width: 901px) {
  .brand-logo-for-xs {
    display: none;
  }
}

@media screen and (min-width: 901px) {
  .brand-logo-for-md {
    display: none;
  }
}

#header-bar-style {
  background-color: #B19470;
}