#hero-container {
  margin: 6rem auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 1300px;
  margin-top: 80px;
  min-height: calc(100vh - 80px);
}

#hero-motto h1 {
  font-family: 'Roboto Mono', monospace;
  font-size: 250%;
  margin: 2rem 0 0;
  color: #43766C;
}

#hero-motto h2 {
  font-family: 'Oooh Baby', cursive;
  font-size: 200%;
  color: #ccced0;
  letter-spacing: 3px;
}

#hero-image {
  margin: 2rem 0;
  width: 800px;
  border-radius: 1rem 4rem;
  box-shadow: rgba(255, 255, 255, 1) 0px 5px 15px;
}

#button-container {
  margin: 2rem 0 0;
}

#create-button {
  width: 20rem;
  height: 3rem;
  font-size: 110%;
  background-color: #9b4f10;
}

@media only screen and (min-width: 1221px) and (max-width: 1440px) {
  #hero-container {
    max-width: 1200px;
  }
}

@media only screen and (min-width: 1001px) and (max-width: 1220px) {
  #hero-container {
    max-width: 950px;
  }
}

@media only screen and (min-width: 801px) and (max-width: 1000px) {
  #hero-container {
    max-width: 750px;
    min-height: auto;
  }
}

@media only screen and (min-width: 551px) and (max-width: 800px) {
  #hero-container {
    max-width: 540px;
    min-height: auto;
  }

  #hero-image {
    width: 540px;
    border-radius: 0.5rem 2rem;
  }

  #hero-motto h1 {
    font-size: 200%;
  }

  #hero-motto h2 {
    font-size: 130%;
  }

  #button-container {
    margin: 2rem 0 0;
  }

  #create-button {
    width: 90%;
  }
}

@media only screen and (max-width: 550px) {
  #hero-container {
    max-width: 400px;
    min-height: auto;
  }

  #hero-image {
    width: 400px;
  }

  #hero-motto h1 {
    font-size: 200%;
    padding: 1rem 0;
  }

  #hero-motto h2 {
    font-size: 110%;
  }

  #hero-image {
    margin: 2rem 0;
    width: 800px;
    border-radius: 0.5rem 2rem;
  }

  #create-button {
    width: 100%;
  }
}

@media only screen and (max-width: 400px) {
  #hero-container {
    max-width: 350px;
    padding: 0 4px;
  }

  #hero-image {
    width: 100%;
  }

  #hero-motto h1 {
    font-size: 170%;
  }

  #hero-motto h2 {
    font-size: 110%;
  }
}
