#hero-container {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1300px;
}

#hero-motto h1 {
  font-family: 'Ultra', serif;
  font-size: 250%;
  color: #ccced0;
}

#hero-motto h2 {
  font-family: 'Red Hat Display', sans-serif;
  color: #404f63;
}

#hero-image {
  padding: 2rem;
  width: 750px;
}