#quest-container {
  position: relative;
  margin: 6rem auto 0;
  display: flex;
  text-align: center;
  width: 1300px;
  margin-top: 80px;
  min-height: calc(100vh - 80px);
  background-image: url('/images/paper.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 90% 90%;
}

/* HTML: <div class="loader"></div> 
Code snipper of loader is from the url below:
https://css-loaders.com/dots/
*/

.loader {
  width: 60px;
  aspect-ratio: 4;
  --_g: no-repeat radial-gradient(circle closest-side, #511818 90%, #0000);
  background: var(--_g) 0% 50%, var(--_g) 50% 50%, var(--_g) 100% 50%;
  background-size: calc(100% / 3) 100%;
  animation: l7 1s infinite linear;
}
@keyframes l7 {
  33% {
    background-size: calc(100% / 3) 0%, calc(100% / 3) 100%, calc(100% / 3) 100%;
  }
  50% {
    background-size: calc(100% / 3) 100%, calc(100% / 3) 0%, calc(100% / 3) 100%;
  }
  66% {
    background-size: calc(100% / 3) 100%, calc(100% / 3) 100%, calc(100% / 3) 0%;
  }
}

#quest-left {
  width: 45%;
}

#quest-right {
  width: 55%;
  padding-right: 8rem;
}

#quest-left,
#quest-right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#quest-hero-race {
  height: 60%;
  padding-left: 2rem;
  filter: drop-shadow(0 0 1rem rgb(255, 255, 255));
}

#hero-properties {
  display: flex;
  padding-left: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  line-height: 2rem;
  filter: drop-shadow(0 0 0.5rem rgb(255, 255, 255));
}

#hero-properties h2 {
  font-family: 'Merriweather', serif;
  font-size: 200%;
  color: #511818;
  text-decoration: underline;
}

#hero-properties h3 {
  font-family: 'Oooh Baby', cursive;
  letter-spacing: 3px;
  font-size: 150%;
  color: rgb(26, 25, 25);
}

#quest-scene {
  width: 35rem;
  color: #511818;
  font-family: 'Edu QLD Beginner', cursive;
  letter-spacing: 1.5px;
  font-size: 150%;
  font-weight: 500;
  text-shadow: white 5px 0 12px;
}

#quest-options {
  width: 30rem;
  color: #2c1919;
  font-family: 'Edu QLD Beginner', cursive;
  letter-spacing: 1.5px;
  font-size: 150%;
  font-weight: 500;
  text-shadow: white 5px 0 12px;
}

#submit-choice-button {
  margin-top: 1rem;
  width: 18rem;
  height: 3rem;
  background-color: #511818;
  font-family: 'Edu QLD Beginner', cursive;
  text-transform: none;
  letter-spacing: 3px;
  font-size: 90%;
}

#reset-button {
  position: absolute;
  background-color: #c02525;
  letter-spacing: 3px;
  height: 2rem;
  top: 6rem;
  right: 7rem;
}

#scene h2 {
  margin-bottom: 1rem;
  color: #d32f2f;
  text-decoration: underline;
}

@media only screen and (min-width: 1221px) and (max-width: 1440px) {
  #quest-container {
    max-width: 1200px;
  }

  #quest-left {
    margin-left: 2rem;
  }

  #quest-right {
    /* padding-right: 0; */
  }

  #hero-properties {
    left: 12rem;
  }

  #reset-button {
    right: 6.5rem;
  }
}

@media only screen and (min-width: 1001px) and (max-width: 1220px) {
  #quest-container {
    max-width: 950px;
  }

  #quest-left {
    margin-left: 0;
  }

  #quest-right {
    padding-right: 15rem;
  }

  #quest-hero-race {
    width: 100%;
    height: auto;
    padding-left: 2rem;
  }

  #quest-scene {
    right: 3rem;
  }

  #reset-button {
    right: 6rem;
  }

  #hero-properties h2 {
    font-size: 170%;
  }

  #hero-properties h3 {
    font-size: 130%;
  }
}

@media only screen and (max-width: 1000px) {
  #quest-container {
    max-width: 750px;
    display: flex;
    background-size: 100% 95%;
  }

  #quest-left {
    display: none;
  }

  #quest-right {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
  }

  #reset-button {
    right: 2.5rem;
    top: 4.5rem;
  }
}

@media only screen and (max-width: 800px) {
  #quest-container {
    max-width: 540px;
    min-height: 500px;
  }

  .loader {
    position: static;
  }

  #quest-right {
    display: flex;
  }

  #quest-scene {
    position: static;
    width: 75%;
    letter-spacing: 1px;
    font-size: 120%;
    margin-bottom: 0.5rem;
    line-height: 1.6rem;
    font-weight: 400;
  }

  #quest-options {
    position: static;
    letter-spacing: 1px;
    font-size: 115%;
    font-weight: 400;
    line-height: 1.5rem;
    margin-top: 0.5rem;
  }

  #submit-choice-button {
    width: 20rem;
    height: 2rem;
    letter-spacing: 3px;
    margin-top: 0.5rem;
  }

  #reset-button {
    letter-spacing: 1px;
    width: 6rem;
    top: 3rem;
    height: 2rem;
    right: 1.5rem;
  }

  #scene {
    position: static;
  }

  #scene h2 {
    margin-bottom: 1rem;
  }
}

@media only screen and (max-width: 550px) {
  #quest-container {
    max-width: 400px;
    min-height: 500px;
  }

  #quest-right {
    padding-top: 2rem;
  }

  #quest-scene {
    width: 80%;
    letter-spacing: 1.5px;
    font-size: 110%;
    line-height: 1.2rem;
    font-weight: 400;
  }

  #quest-options {
    width: 22rem;
    letter-spacing: 1px;
    font-size: 105%;
    font-weight: 400;
    line-height: 1.2rem;
  }

  #submit-choice-button {
    width: 20rem;
    height: 3rem;
    letter-spacing: 3px;
    margin-top: 1rem;
  }

  #reset-button {
    letter-spacing: 1px;
    width: 6rem;
    top: 3rem;
    height: 2rem;
    right: 1.5rem;
  }

  #scene h2 {
    font-size: 130%;
    margin-bottom: 1rem;
    line-height: 2rem;
  }
}

@media only screen and (max-width: 400px) {
  #quest-container {
    max-width: 350px;
    padding: 0 4px;
  }

  #quest-scene {
    width: 80%;
    font-size: 100%;
    line-height: 1.1rem;
  }

  #quest-options {
    width: 19rem;
    font-size: 100%;
    line-height: 1.1rem;
  }

  #submit-choice-button {
    width: 100%;
  }

  #scene h2 {
    margin-bottom: 1rem;
  }
}
