#quest-container {
  margin: 6rem auto 0;
  display: flex;
  text-align: center;
  width: 1300px;
  margin-top: 80px;
  min-height: calc(100vh - 80px);
  background-image: url('/images/paper.png');
  background-position: center;
  background-repeat: no-repeat;
}

#quest-left {
  width: 40%;
  position: relative;
}
#quest-right {
  width: 60%;
  position: relative;
}

#quest-hero-race {
  position: absolute;
  left: 3rem;
  bottom: 9rem;
  filter: drop-shadow(0 0 1rem rgb(255, 255, 255));
}

#hero-properties {
  position: absolute;
  left: 14rem;
  bottom: 5rem;
  text-align: left;
  line-height: 1.5rem;
  filter: drop-shadow(0 0 0.5rem rgb(255, 255, 255));
}

#hero-properties h2 {
  font-family: 'Merriweather', serif;
  font-size: 200%;
  color: #511818;
  text-decoration: underline;
}

#hero-properties h3 {
  font-family: 'Oooh Baby', cursive;
  letter-spacing: 3px;
  font-size: 150%;
  color: rgb(26, 25, 25);
}

#quest-scene {
  position: absolute;
  top: 10rem;
  width: 30rem;
  color: #511818;
  font-family: 'Edu QLD Beginner', cursive;
  letter-spacing: 1.5px;
  font-size: 150%;
  font-weight: 500;
}

#quest-options {
  position: absolute;
  top: 22rem;
  width: 30rem;
  color: #511818;
  font-family: 'Edu QLD Beginner', cursive;
  letter-spacing: 1.5px;
  font-size: 150%;
  font-weight: 500;
}

#submit-choice-button {
  margin-top: 1rem;
  width: 18rem;
  height: 3rem;
  background-color: #511818;
  font-family: 'Edu QLD Beginner', cursive;
  text-transform: none;
  letter-spacing: 3px;
  font-size: 90%;
}

#reset-button {
  position: absolute;
  background-color: #aa5656;
  width: 8rem;
  bottom: 4.5rem;
  right: 13rem;
}
